.about_section {
  width: 100%;
  overflow: hidden;
}

.about_container {
  width: auto;
  height: 100vh;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}
.about_container_section1 {
  width: 100%;
  height: 100%;
  align-content: center;
  text-align: -webkit-center;
}
.about_container_section2 {
  width: 100%;
  height: 100%;
  text-align: -webkit-center;
  align-content: center;
}
.about_img {
  width: 60vh;
  height: 60vh;
  background-image: url("images/profile_img.png");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  transition: all 0.2s ease-in-out;
}
.about_img:hover {
  transform: scale(1.03);
  box-shadow: 0px 10px 50px #5e3bee;
}
.about_info:hover {
  transform: scale(1.03);
  text-shadow: 2px 5px 40px #5e3bee;
}
.about_info {
  /* background-color: darkcyan; */
  width: 90vh;
  height: fit-content;
  font-size: 1.3em;
  border-radius: 2vh;
  text-align: left;
  border-radius: 10px;
  /* box-shadow: 10px 10px 50px 10px black; */
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}
.about_info h1 {
  text-align: justify;
}
.about_info p {
  margin: 0;
  text-transform: capitalize;
  color:#5a5a5a;
}
.blue_color {
  color: red;
}
p.about_info_detail {
  text-transform: math-auto;
}
@media screen and (max-width: 768px) {
  .about_container {
    width: auto;
    height: auto;
    padding: 0;
    flex-direction: column;
    gap: 10px;
  }
  .about_container_section1,
  .about_container_section2 {
    width: 100%;
    padding: 0 10px; /* Add padding for better spacing */
    box-sizing: border-box;
  }
  .about_container_section1 {
    height: auto; /* Let content determine the height */
  }
  .about_container_section2 {
    height: auto; /* Let content determine the height */
  }
  .about_img {
    height: 36vh;
    max-width: 30vh; /* Ensure the image scales properly */
    margin: 0 auto; /* Center the image horizontally */
  }
  .about_info {
    max-width: 100%;
    height: auto; /* Adjust height to content */
    box-sizing: border-box;
    padding: 10px; /* Add padding for better spacing */
  }
  .about_full {
    font-size: 1.4em;
    word-wrap: break-word; /* Allow words to break and wrap */
  }
  .about_info_detail {
    font-size: 1em;
    word-wrap: break-word; /* Allow words to break and wrap */
  }
  .about_contact_details {
    overflow: hidden;
    white-space: normal; /* Allow text to wrap */
    width: 100%;
    height: auto; /* Adjust height to content */
    box-sizing: border-box;
    margin-top: 10px;
    text-overflow: ellipsis;
  }
}
