.project_section_page {
  width: 100%;
  overflow: visible;
}
.project_section_title{
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: 48rem;
}
.project_section_page h2{
    text-align: left;
}
/*
.project_container {
  width: 100%;
  margin: 0;
  border-radius: 10px;
  width: auto;
  height: 100vh;
  text-align: center;
  align-content: top;
  display: flex;
  justify-content: space-around;
  background-color: aqua;
}
 .project_section1 {
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  align-content: center;
}
.project_section2 {
  width: 100%;
  height: 100%;
  background-color: red;
  font-size: 1.2em;
  align-content: center;
} */

/* Project cards */
/* .wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 80px;
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}

.description p {
  color: #b0b0ba;
  padding-top: 5px;
}

.description h4 {
  text-transform: uppercase;
}
.description a {
  color: white;
  text-decoration: none;
}

.container input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-image: url("/frontend/images/banner-bg.png");
}
.card[for="c2"] {
  background-image: url("/frontend/images/anime_img.jpg");
}
.card[for="c3"] {
  background-image: url("/frontend/images/bg_img.jpg");
}
.card[for="c4"] {
  background-image: url("/frontend/images/bg_img.jpg");
} */


/* new code */
.project_list-wrapper {
  /* grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid; */

  height: auto;
  grid-column-gap: 2rem;
  display: flex;
  align-items: top;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.project_item {
  /* background-color: #f5fcff;
  border-radius: .5rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  transition: all .2s ease-in-out; */

  width: 230px;
  height: fit-content;
  background-color: #f5fcff;
  padding: 1.5rem;
  border-radius: .5rem;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  color: var(--color-text);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: all .2s ease-in-out;


}
.project_item_image{
margin-top: 0;
margin-left: 0;
margin-right: 0;
  margin-bottom: 1.5rem;
  display: grid;
  place-content: center;
}
.project_item_image img{
  vertical-align:top;
  max-width: 100%;
  border: 0;
  width: 20vh;
}
.project_item_title{
  margin-top: 0;
margin-left: 0;
margin-right: 0;
  margin-bottom: 1.5rem;
}
.heading-small{
font-size: 1.5rem;
font-weight: 700;
line-height: 1.4;
}
.project_item:hover{
  box-shadow: 5px 5px 10px #5e3bee;
}

.project_visit_link{
  margin-top: 1.5rem;
  text-decoration: underline;
  font-weight: 500;
}