.project_section_page {
  width: 100%;
  overflow: visible;
}
.project_section_title{
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: 48rem;
}
.project_section_page h2{
    text-align: left;
}
/* new code */
.project-list-wrapper {
  height: auto;
  grid-column-gap: 2rem;
  display: flex;
  align-items: top;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.project-item {
  width: 230px;
  height: fit-content;
  background-color: #f5fcff;
  padding: 1.5rem;
  border-radius: .5rem;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  color: var(--color-text);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.project-item-image{
margin-top: 0;
margin-left: 0;
margin-right: 0;
  margin-bottom: 1.5rem;
  display: grid;
  place-content: center;
}
.project-item-image img{
  vertical-align:top;
  max-width: 100%;
  border: 0;
  width: 20vh;
}
.project-item-title{
  margin-top: 0;
margin-left: 0;
margin-right: 0;
  margin-bottom: 1.5rem;
}
.heading-small{
font-size: 1.5rem;
font-weight: 700;
line-height: 1.4;
}
.project-item:hover{
  box-shadow: 5px 5px 10px #5e3bee;
}

.project-visit-link{
  margin-top: 1.5rem;
  text-decoration: underline;
  font-weight: 500;
}