.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-out;
  width: 100%;
}

.carousel-item {
  flex: 0 0 100%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-align: center;
  padding: 20px;
  background-color: #f5fcff;
  border-radius: 10px;
}

.carousel-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.carousel-item h3 {
  margin: 10px 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.carousel-item p {
  font-size: 1rem;
}

.carousel-item a {
  color: #5e3bee;
  text-decoration: underline;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #5e3bee;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.5rem;
  z-index: 1;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.prev-btn:hover, .next-btn:hover {
  background-color: #28536B; /* Darker shade on hover */
  transform: translateY(-50%) scale(1.1); /* Add scale effect */
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .carousel-item img {
    width: 80px;
    height: 80px;
  }

  .carousel-item h3 {
    font-size: 1.2rem;
  }

  .carousel-item p {
    font-size: 0.9rem;
  }
}
