/* Skill Section Styling */
.skill_section {
  overflow: visible;
}
.padding-xhuge {
  padding: 7rem 0;
}
.skill_section_title {
  margin: 0;
  width: 100%;
  max-width: 48rem;
}
.small-title {
  font-weight: 500;
}
.large-title {
  margin: 1.5rem 0;
}
h2 {
  color: #282938;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

/* Home Skills List */
.home-skils_list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: top;
  height: auto;
}
.home-skils_item {
  width: 230px;
  padding: 1.5rem;
  background-color: #f5fcff;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.home-skils_item:hover {
  box-shadow: 5px 5px 10px #5e3bee;
}
.skils_item_icon img {
  width: 8vh;
  max-width: 100%;
  margin-bottom: 1.5rem;
}
.skils_item_title, .heading-small {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 0 1.5rem;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .home-skils_list-wrapper {
    grid-template-columns: 1fr;
    margin: 1rem 0 2rem;
  }
}
